/* Set body font and bg styles */
body {
  font-size: 16px;
  background-image: url('../img/grid-bg.svg');
}

/* Container Styles */
#container {
  width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header {
  background-color: #228b22;
  height: 6em;=
}

.header h1 {
  font-family:'Press Start 2P', sans-serif;
  font-size: 3em;
  line-height: 2em;
  text-align: center;
  vertical-align: center;
}

/* Main Styles */
#main {
  font-family: 'Oswald', sans-serif;
  padding: 1em;
  vertical-align: top;
}

#controls, #game-window {
  display: inline-block;
}

/* Controls list styles */
#controls {
  width: 225px;
  background-color: #ddd;
  vertical-align: top;
  padding: 1em;
  margin-right: 1em;
}

.control-list {
  text-indent: -1em;
  list-style: none;
  font-size: 1.25em;
  line-height: 1.75em;
}

/* Game window styles */
#game-window {
  width: 600px;
  height: 600px;
  background-color: #000;
  vertical-align: middle;
  position: relative;
}

#start-btn {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 0.5em;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  height: 150px;
  top: 75%;
  left: 50%;
  margin-left: -150px;
  margin-top: -75px;
  background-color: #228b22;
  color: #fff;
  border: 2px solid #228b22;
}

#start-btn:active {
  border: 2px solid #000;
}

/* Ship styles */
.ship {
  position: absolute;
}

.ship1 {
  background-image: url('../img/ketchup-red.png');
  background-size: cover;
}

.ship2 {
  background-image: url('../img/ketchup-blue.png');
  background-size: cover;
}

/* Slice Styles */
.slice {
  position: absolute;
  background-image: url('../img/pizza.png');
  background-size: cover;
}

/* Projectile Styles*/
.projectile {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

/* Score styles */
.score {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #fff;
  padding: 0.25em;
  position: absolute;
  display: none;
}

.score1 {
  top: 2%;
  left: 10%;
  color: red;
}

.score2 {
  top: 2%;
  right: 10%;
  color: blue;
}

/* Game over */
#game-over {
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  line-height: 1.25em;
  font-size: 2em;
  width: 100%;
  text-align: center;
  top: 25%;
  position: absolute;
}
