/* Set body font and bg styles */
body {
  font-size: 16px;
  background-image: url('../img/grid-bg.svg')
}

/* Container Styles */
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header {
  background-color: #228b22;
  height: 6em;
}

.header h1 {
  font-size: 3em;
  line-height: 2em;
  text-align: center;
  vertical-align: center;
}
