/* Set body font and bg styles */
body {
  font-size: 16px;
  background-image: url('../img/grid-bg.svg')
}

/* Container Styles */
#container {
  width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header {
  background-color: #228b22;
  height: 6em;
}

.header h1 {
  font-size: 3em;
  line-height: 2em;
  text-align: center;
  vertical-align: center;
}

/* Main Styles */
#main {
  padding: 1em;
  vertical-align: top;
}

#controls, #game-window {
  display: inline-block;
}

/* Controls list styles */
#controls {
  width: 225px;
  background-color: #ddd;
  vertical-align: top;
  padding: 1em;
  margin-right: 1em;
}

.control-list {
  text-indent: -1em;
  list-style: none;
  font-size: 1.25em;
  line-height: 1.75em;
}

/* Game window styles */
#game-window {
  width: 600px;
  height: 600px;
  background-color: #000;
  vertical-align: middle;
}
